<%- include("partials/header"); -%>


 <div class="templateBody-container">

  <div class="templateBody-topBreadcrumb">
   <div class="back-to-homepage">
    <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
    <span class="pageName-span">Brain Treatment Path- Othercomplaints</span>
   </div>
  </div>
  <br><br>
  <div class="templateBody-main">

   <h1>Other Complaints</h1>

   <p class="fireBrick">Click the applicable button below to proceed</p>
   <p class="fireBrick">Note => If you have only one complaint, click appropriately and <a href="#contact">scroll down</a> to move to the next page</p>
   <form action="/brain_othercomplaints" method="post" id="medicalForm">

    <input type="radio" name="trying" id="no" value="no" onclick="stallBack()"><b>I have only one
     complaint</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="trying" id="yes" value="yes" onclick="symptomChecker()"><b>I have other complaints
    </b>
    <br><br>

    <input type="checkbox" name="othersymptoms"  value="Rheadaches" id="othersymptoms" disabled><b>Recent onset(few hours to
     days)</b> of
    recurrent
    <b>headaches</b><br>
    <input type="checkbox" name="othersymptoms"  value="Cheadaches" id="othersymptoms" disabled><b>Longterm(over two weeks)</b> of
    recurrent
    <b>headaches</b><br>
    <input type="checkbox" name="othersymptoms"  value="LocalBodyWeakness" id="othersymptoms" disabled>Feeling of <b>numbness</b> or
    weakness <b>in
     a
     part</b> of the body<br>
    <input type="checkbox" name="othersymptoms"  value="Paraparesis" id="othersymptoms" disabled>Feeling of <b>numbness</b> or weakness
    <b>in both
     sides of
     the body affecting either the upper or lower part</b><br>
    <input type="checkbox" name="othersymptoms"  value="TransientWeakness" id="othersymptoms" disabled>Feeling of <b>numbness</b> or
    weakness <b>on
     one side
     of the body with symptoms disappearing within a day</b><br>
    <input type="checkbox" name="othersymptoms"  value="OneSidedWeakness" id="othersymptoms" disabled>Feeling of <b>numbness</b> or
    weakness <b>on
     one side
     of the body affecting the arm, leg with or without the face</b><br>
    <input type="checkbox" name="othersymptoms"  value="RgenBodyWeakness" id="othersymptoms" disabled><b>Recent</b> onset(few hours to
    days)</b> of
    <b>
     general body weakness</b><br>
    <input type="checkbox" name="othersymptoms"  value="CgenBodyWeakness" id="othersymptoms" disabled><b>Longterm(over two
     weeks)</b> of <b>
     general
     body weakness</b><br>
    
    <input type="checkbox" name="othersymptoms"  value="MemoryLoss" id="othersymptoms" disabled>You are experiencing <b>progressive
     memory
     loss</b><br>
    <input type="checkbox" name="othersymptoms"  value="SpeechDifficulty" id="othersymptoms" disabled><b>Speech Difficulty</b><br>
    <input type="checkbox" name="othersymptoms"  value="RblurredVision" id="othersymptoms" disabled /><b>Recent onset(few hours or
     days)</b>
    of
    <b>blurred vision</b><br />
    <input type="checkbox" name="othersymptoms"  value="LackOfSteadyMovt" id="othersymptoms" disabled><b>Lack of steady
     movement</b><br>
    <input type="checkbox" name="othersymptoms"  value="BackpainsRadiatingLowerLimbs" id="othersymptoms" disabled><b>Backpains</b> which
    <b>radiates
     to the
     lower limbs</b><br>
    <input type="checkbox" name="othersymptoms"  value="Convulsion" id="othersymptoms" disabled><b>Recent</b> episode of
    <b>Convulsion</b><br>
    <input type="checkbox" name="othersymptoms"  value="CearPainHearingLoss" id="othersymptoms" disabled /><b>Longterm onset(more
     than two
     weeks)</b>
    of <b>hearing loss</b>
    with or without Ear pain<br />
    <input type="checkbox" name="othersymptoms"  value="RvomitingNoBld" id="othersymptoms" disabled />
    <b>Recent onset</b> of nausea or vomiting of previously consumed item with
    <b> <i>no</i> blood nor unexplained black substance</b> <br>
    <input type="checkbox" name="othersymptoms"  value="RhighFeverOnOff" id="othersymptoms" disabled /><b>Recent onset of moderate
     to
     high <i>fever</i></b>
    (more than 39<sup>0</sup>C
    or 102<sup>0</sup>F ) that has been <b>on and off</b> in the last
    <b>few hours or days</b><br />
    <input type="checkbox" name="othersymptoms"  value="Confusion" id="othersymptoms" disabled />
    <b>Recent</b> onset(few hours or days)</b>
    of <b>Confusion</b> </b>

    <br><br><br>
    
    <h3 class="fireBrick" id="eureka"></h3><br>
    <input type="checkbox" name="checker" id="checker" onclick="detective()" required><b style="color: firebrick;">click when done</b>
    <br><br>
    
    <br><br>
    <button type="submit" class="next-btn" name="submit" id="submitbtn" disabled>Next</button>
    <br><br>
    <button type="reset" onClick="window.location.reload();">Reset</button>

   </form>
  <script>
   var gotIt = document.getElementsByName("othersymptoms");
   var yes = document.getElementById("yes");
   var no = document.getElementById("no");

   function detective() {
     var myReka = [];
      document.getElementById('eureka').innerHTML = "";
    if (no.checked) {
     document.getElementById("submitbtn").removeAttribute("disabled");

    } else {
     for (i = 0; i < othersymptoms.length; i++) {
      myReka.push("one");
      if (othersymptoms[i].checked) {
       document.getElementById("submitbtn").removeAttribute("disabled");

      }
      if (othersymptoms.length === myReka.length && document.getElementById("submitbtn").disabled) {
       document.getElementById('eureka').innerHTML = "Please check your other complaint(s); if not found, contact us (stating your age, gender and complaints) for possible future accommodation and any other action deemed necessary. Thank you";
       document.getElementById("checker").checked = false
      }
     }
    }


   }


   function symptomChecker() {
    for (c = 0; c < gotIt.length; c++) {
     if (gotIt[c].value !== "<%= Mainsymptom  %>" && yes.checked) {
      gotIt[c].removeAttribute("disabled");
     }
    }
   }

   function stallBack() {
    for (c = 0; c < gotIt.length; c++) {
     gotIt[c].disabled = true;
    }
   }

  </script>

  </div>
 </div>





 <%- include("partials/footer"); -%>