<!doctype html>
<html lang="en">

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/styles.css">

 <title>Lordsforerunner Medical Website</title>
</head>

<body>
 <div class="mainContainer">

  <div class="preHeader">

   <a href="/"><img src="/images/logo.png" alt="Lordsforerunner"></a>


   <div class="right-head">
    <div class="navlink-wrapper">
     <div><a href="/about">About Site</a></div>
     <div><a href="/terms-of-use">Terms of Use</a>
     </div>
     <div><a href="#contact">Contact</a>
     </div>
    </div>
   </div>

  </div>

  <div class="templateBody-container">
   <div class="templateBody-topBreadcrumb">
    <div class="back-to-homepage">
     <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
     <span class="pageName-span">Children Health -Preventive Path</span>
    </div>
   </div>
   <div class="templateBody-sideBreadcrumb">
    <h2 class="parentPage-link">
     <a href="#">Children Health</a>
    </h2>
    <ul class="descendantsPage-links">
     <li class="currentPage"><a href="#">Preventive Children Health</a>
     </li>
     <li><a href="/children_biodata">Treatment Path</a></li>
    </ul>
   </div>
   <div class="templateBody-main">
  <h4>General preventive measures against Childhood Diseases</h4>
  <p>The red arrows(<span class="redArrow">↓</span><span class="redArrow">←</span>) are the facilitating points
    for diseases whereas the blue arrows(<span class="blueArrow">↑</span><span class="blueArrow">←</span>) are
    the ameliorating or mitigating points</p>
  
  <div class="ParentDiv">
    <div>
      <div>
        <p>Causes</p>
        <ul>
          <li class="red">Genetic</li>
          <li class="red">Congenital</li>
          <li class="red">Infections</li>
          <li class="red">Injuries</li>
          <span class="redArrow">↓</span>
          <span class="blueArrow">↑</span>
  
          <li>Counter factors <ul>
  
              <li class="blue">Pregnant mothers should avoid people and places with illnesses associated with fever
              </li>
              <li class="blue">Harmful objects should be kept away from children and they should be properly
                nurtured</li>
              <li class="blue">Mothers are encouraged to use health facilities if available as soon as children
                fall sick</li>
              <li class="blue">Reproductive age women to obtain standard immunization in their locality</li>
  
            </ul>
          </li>
  
        </ul>
      </div>
  
  
    </div>
    <div>
      <div>
        <p><span class="redArrow">←</span> Risk Factors</p>
        <ul>
          <li class="red">Past family record of genetic disorder</li>
          <li class="red">Mother's age more than 35years during pregnancy</li>
          <li class="red">Past history of unviable(unsuccessful) pregnancy in mother </li>
          <li class="red">Father's age more than 40years during pregnancy</li>
  
  
          <li class="red">Infections in mothers during pregnancy</li>
          <li class="red">Mother smoking, taking alcohol, exposure to radiation or chemicals through the mouth or by
            inhalation</li>
          <li class="red">Poor diet of mothers before and during pregnancy</li>
          <li class="red">Chronic illnesses in pregnant women</li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <p><span class="blueArrow">←</span> Lifestyle measures</p>
        <ul>
          <li class="blue">Regular (yearly) routine general medical screening</li>
          <li class="blue">People should seek knowledge and be educated about genetic diseases and how to avoid them
          </li>
          <li class="blue">Women encouraged to limit their child bearing period to 21 - 34 years</li>
          <li class="blue">Men encouraged to stop having children by 40 - 45years</li>
          <li class="blue">Mothers encouraged to register for antenatal care at authorized health facilities when they
            get pregnant</li class="blue">
  
          <li class="blue">Mothers to avoid smoking, alcohol, radiation and chemicals during pregnancy</li>
          <li class="blue">Avoid smoking environment for children(passive smoking)</li>
          <li class="blue">Nutritious food should be made priority for women of reproductive age(15 - 45years)</li>
          <li class="blue">Women encouraged to report any illness to authorized health facilities early</li>
          <li class="blue">Women to comply with their local recommended immunization program for themselves and their
            children </li>
  
  
        </ul>
      </div>
    </div>
  
    <div>
  
      <span class="redArrow">↓</span>
      <div>Human Disease Processes</div>
  
      <span class="blueArrow">↑</span>
      <ul>
        <li class="blue">Early hospital visit when child falls ill</li>
  
  
  
  
      </ul>
    </div>
  
  
  
    <div>
      <div>
        <p><span class="redArrow">←</span> Risk Factors</p>
        <ul>
          <li class="red">Poor environmental living condition</li>
          <li class="red">Poor nutrition in children</li>
          <li class="red">Poverty</li>
          <li class="red">Poor mothers' education</li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <p><span class="blueArrow">←</span> Lifestyle measures</p>
        <ul>
          <li class="blue">Encouraging good environmental hygiene and sanitation</li>
          <li class="blue">Female education should be taken as a matter of priority</li>
  
        </ul>
      </div>
    </div>
    <div><span class="redArrow">↓</span>
      <div>Disability</div>
      <span class="blueArrow">↑</span>
      <ul>
        <li class="blue">Early visit to the physiotherapist</li>
        <li class="blue">Good nutrition</li>
  
  
  
      </ul>
    </div>
    <div>
      <div>
        <p><span class="redArrow">←</span> Risk Factors</p>
        <ul>
          <li class="red">Late visit to the hospital when child falls ill</li>
  
        </ul>
      </div>
    </div>
    <div>
      <div>
        <p><span class="blueArrow">←</span> Lifestyle measures</p>
        <ul>
          <li class="blue">Prompt hospital visit whenever child falls ill</li>
  
        </ul>
      </div>
    </div>
    <div><span class="redArrow">↓</span>
      <div>Death</div>
    </div>
    <div>
      <div>
        <p><span class="redArrow">←</span> Risk Factors</p>
        <ul>
          <li class="red">Poorly nourished child</li>
  
        </ul>
      </div>
    </div>
    <div>
      <div>
        <p><span class="blueArrow">←</span> Lifestyle measures</p>
        <ul>
          <li class="blue">Well nourished child</li>
  
        </ul>
      </div>
    </div>
  </div>





   </div>


  </div>
 </div>








 <div class="footer" id="contact">

  <a href="https://web.facebook.com/lordsforerunner/" target="_blank" class="social-icon facebook"><i
    class="fab fa-facebook-f"></i></a>

  <a href="https://www.instagram.com/lordsforerunner/" target="_blank" class="social-icon instagram"><i
    class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/lords-forerunner-3512021b8/" target="_blank" class="social-icon linkedin"><i
    class="fab fa-linkedin-in"></i></a>
  <a href="https://youtube.com/channel/UC0aUdlVuR6wQrcbwlzFq1Dw" target="_blank" class="social-icon youtube"><i
    class="fab fa-youtube"></i></a>

  <a href="mailto:lords@lordsforerunner.net" target="_blank"><i class="fas fa-envelope-open"></i></a>

  <p class="copyright">Copyright &copy; 2020 <b>Lordsforerunner.</b> All Rights Reserved.</p>

 </div>
 <a href="#top" class="fixed-link">Back to the Top</a>


 </div>
 <script src="https://kit.fontawesome.com/0b3907367c.js" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>