<%- include("partials/header"); -%>




<div class="row">
 <div class="contentItem-wrapper col-md-4 col-sm-6">

  <div class="preventivePath">
  
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/children_preventive" class="preButton">Preventive Path</button>
  
   </form>
  
  
  
  </div>

 
  
  <div class="itemImage-background" style="background-image: url(/images/childrenHealth-1.jpg);"></div>
  <div class="med-branch">

   <div class="branchName">Children's Health</div>
   <div class="synonnym">
    <h3>Pediatrics</h3>
   </div>

  </div>
  <div class="treatmentPath"><a href="/children_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/women_preventive"class="preButton" >Preventive Path</button>
   </form>
  </div>
 
  <div class="itemImage-background" style="background-image: url(/images/womenHealth1.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Women's Health</div>
   <div class="synonnym">
    <h3>Women Reproductive Health</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/women_biodata">Treatment Path</a></div>

 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
  
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/brain_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>

  <div class="itemImage-background" style="background-image: url(/images/brainHealth.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Brain & Spinal Cord Health</div>
   <div class="synonnym">
    <h3>Neurology</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/brain_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
   
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/eye_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>


  <div class="itemImage-background" style="background-image: url(/images/eyesHealth3.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Eyes Health</div>
   <div class="synonnym">
    <h3>Opthalmology</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/eye_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
  
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/ent_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>


  <div class="itemImage-background" style="background-image: url(/images/ENThealth.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Ear Nose & Throat Health</div>
   <div class="synonnym">
    <h3>Otolaryngology</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/ent_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
  
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/skin_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>

  <div class="itemImage-background" style="background-image: url(/images/skinHealth.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Skin Health</div>
   <div class="synonnym">
    <h3>Dermatology</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/skin_biodata">Treatment Path</a></div>
 </div>


 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
  
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/chest_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>

  <div class="itemImage-background" style="background-image: url(/images/chestHealth1.jpeg);"></div>
  <div class="med-branch">
   <div class="branchName">Chest Health</div>
   <div class="synonnym">
    <h3>Chest Medicine</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/chest_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">

  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/abdomen_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>

  
  <div class="itemImage-background" style="background-image: url(/images/abdomenHealth.jpeg);"></div>
  <div class="med-branch">
   <div class="branchName">Abdomen Health</div>
   <div class="synonnym">
    <h3>Gastroenterology</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/abdomen_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
 
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/men_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>

  <div class="itemImage-background" style="background-image: url(/images/menHealth.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Men's Reproductive System</div>
   <div class="synonnym">
    <h3>Urology</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/men_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
 
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/bone_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>


  <div class="itemImage-background" style="background-image: url(/images/boneHealth1.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Bone Health</div>
   <div class="synonnym">
    <h3>Orthopaedics</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/bone_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
  
 <div class="preventivePath">
  <form action="/intropreventive" method="POST" id="medicalForm">
 
   <button type="submit" name="button" value="/mind_preventive" class="preButton">Preventive Path</button>
  </form>
 </div>

  <div class="itemImage-background" style="background-image: url(/images/mindHealth1.jpeg);"></div>
  <div class="med-branch">
   <div class="branchName">Mind Health</div>
   <div class="synonnym">
    <h3>Psychiatry</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/mind_biodata">Treatment Path</a></div>
 </div>

 <div class="contentItem-wrapper col-md-4 col-sm-6 ">
 
  <div class="preventivePath">
   <form action="/intropreventive" method="POST" id="medicalForm">
  
    <button type="submit" name="button" value="/dental_preventive" class="preButton">Preventive Path</button>
   </form>
  </div>
  
  
  <div class="itemImage-background" style="background-image: url(/images/oralHealth1.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Oral Health</div>
   <div class="synonnym">
    <h3>Dentistry</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/dental_biodata">Treatment Path</a></div>
 </div>







</div>





<%- include("partials/footer"); -%>