<%- include("partials/header"); -%>


 <div class="templateBody-container">

  <div class="templateBody-topBreadcrumb">
   <div class="back-to-homepage">
    <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
    <span class="pageName-span">Men Treatment Path- Othercomplaints</span>
   </div>
  </div>
  <br><br>
  <div class="templateBody-main">

   <h1>Other Complaints</h1>

   <p class="fireBrick">Click the applicable button below to proceed</p>
   <p class="fireBrick">Note => If you have only one complaint, click appropriately and <a href="#contact">scroll down</a> to move to the next page</p>


   <form action="/men_othercomplaints" method="post" id="medicalForm">
    
    <input type="radio" name="trying" id="no" value="no" onclick="stallBack()"><b>I have only one
     complaint</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="trying" id="yes" value="yes" onclick="symptomChecker()"><b>I have other complaints
    </b>
    <br><br>

    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="DysuriaMale" />You experience <b>pain while
     urinating</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="FrequencyMale" />You pass rather <b>small quantity of
     urine
     frequently</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="PoorStream" />You experience <b>poor urine flow</b>
    while
    urinating<br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="UrinaryIncontinence" />You are <b>unable to hold
     urine</b> once
    you feel pressed to urinate<br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="Hematuria" />You pass <b>blood in your urine</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="PenileDischarge" />You experience <b>discharge from your
     penis</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="PenilePain" />You experience <b>continous pain in your
     penis</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="Gynecomastia" />You have <b> abnormal increase in your
     breast(s)
     size</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="PainfulScrotalSwelling" />You have <b>painful swelling
     in your
     scrotum or testicles</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="PainlessScrotalSwelling" />You have <b>swelling in your
     scrotum
     or testicles that is <i>not painful</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="PainfulScrotumTesticles" />Pain in the scrotum/testicles
    <b>without swelling</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="ErectileDysfunction" />You have <b>difficulty getting or
     maintaining an erection</b>(erectile dysfunction)<br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="LowLibido" />You <b>lack adequate sexual drive</b>(low
    libido)<br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="DifficultToEjaculate" />You find it <b>difficult to
     ejaculate</b>
    or you do not ejaculate at all<br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="EarlyEjaculation" />You <b>ejaculate earlier</b> than
    you wish
    all or most of the time(premature ejaculation) <br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="RoutineDrugs" />You are on <b>routine drugs</b> for
    other medical
    condition(s)<br />
    
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="RgenBodyPains"> <b>Recent</b> onset(few hours to days) of
    general
    <b>body pains</b><br>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" disabled value="CgenBodyPains"> <b>Longterm</b> onset(more than two weeks)
    of
    general <b>body pains</b>

    <br><br><br>
    <h3 class="fireBrick" id="eureka"></h3><br>
    <input type="checkbox" name="checker" id="checker" onclick="detective()" required><b style="color: firebrick;">click when done</b>
    <br><br>

    <br><br>
    <button type="submit" class="next-btn" name="submit" id="submitbtn" disabled>Next</button>
    <br><br>
    <button type="reset" onClick="window.location.reload();">Reset</button>

   </form>

   <script>
    var gotIt = document.getElementsByName("othersymptoms");
    var yes = document.getElementById("yes");
    var no = document.getElementById("no");

    function detective() {
     var myReka = [];
     document.getElementById('eureka').innerHTML = "";
     if (no.checked) {
      document.getElementById("submitbtn").removeAttribute("disabled");

     } else {
      for (i = 0; i < othersymptoms.length; i++) {
       myReka.push("one");
       if (othersymptoms[i].checked) {
        document.getElementById("submitbtn").removeAttribute("disabled");

       }
       if (othersymptoms.length === myReka.length && document.getElementById("submitbtn").disabled) {
        document.getElementById('eureka').innerHTML = "Please check your other complaint(s); if not found, contact us (stating your age, gender and complaints) for possible future accommodation and any other action deemed necessary. Thank you";
        document.getElementById("checker").checked = false
       }
      }
     }


    }

    function symptomChecker() {
     for (c = 0; c < gotIt.length; c++) {
      if (gotIt[c].value !== "<%= Mainsymptom  %>" && yes.checked) {
       gotIt[c].removeAttribute("disabled");
      }
     }
    }

    function stallBack() {
     for (c = 0; c < gotIt.length; c++) {
      gotIt[c].disabled = true;
     }
    }

   </script>
   

  </div>
 </div>


 <%- include("partials/footer"); -%>