<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Lordsforerunner Medical Website</title>
</head>

<body>
    <div class="mainContainer">
        <div class="preHeader">

            <a href="/"><img src="/images/logo.png" alt="Lordsforerunner"></a>


            <div class="right-head">
                <div class="navlink-wrapper">
                    <div><a href="/about">About Site</a></div>
                    <div><a href="/terms-of-use">Terms of Use</a>
                    </div>
                    <div><a href="#contact">Contact</a>
                    </div>
                </div>
            </div>

        </div>
        <br><br>

        <div class="templateBody-container">

        <h1>You have successfully booked your session</h1>
        <br><br>
        <p class="fireBrick">Please call <b>+2349048220660</b> <u>with the phone number you entered in your duo app</u> to confirm your booking</p>
        <br><br>
        
        <h2>Please note the following</h2>
        <ol>
            <li>On the date of your appiontment, you will be called by
                <b>+2348177309670</b> at your chosen time and the session will start.
            </li>
            <li>
                You can send a message to <b>+2348177309670</b> if there are issues
                before your appointment time. You can also send emails through our contact section.
            </li>
            <li>
                <p>The following is optional; </p>
                <p>To facilitate our interaction by the appiontment time, you can enter your complaint(s)
                through our website home page.</p>
                <p>Choose the section that applies to you and enter via the <b>Treatment Path</b></p>
                <p>If you are not sure which section to enter from, send us an email (use the email you filled during payment), describing the problem</p>
                <p>Please ensure you snap( take a photo shot) of each page through which you entered your compaint(s) up to the last - the <b>advice page</b> upload and send to us via email using the email address you entered during payment</p>
                <p>You can send your emails to <b>lords@lordsforerunner.net</b></p>
             </li>
            
            <!-- <li>If for any reason you wish to relocate a session you have paid for already to another timing before the original
                        time, you will have to pay half the cost of the session extra for that to take effect.</li> -->
        </ol>
        </div>
        
        




        
    </div>

    <div class="footer" id="contact">

        <a href="https://web.facebook.com/lordsforerunner/" target="_blank" class="social-icon facebook"><i
                class="fab fa-facebook-f"></i></a>

        <a href="https://www.instagram.com/lordsforerunner/" target="_blank" class="social-icon instagram"><i
                class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lords-forerunner-3512021b8/" target="_blank"
            class="social-icon linkedin"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://youtube.com/channel/UC0aUdlVuR6wQrcbwlzFq1Dw" target="_blank" class="social-icon youtube"><i
                class="fab fa-youtube"></i></a>

        <a href="mailto:lords@lordsforerunner.net" target="_blank"><i class="fas fa-envelope-open"></i></a>

        <p class="copyright">Copyright &copy; 2020 <b>Lordsforerunner.</b> All Rights Reserved.</p>

    </div>
    <a href="#top" class="fixed-link">Back to the Top</a>


    </div>
    <script src="https://kit.fontawesome.com/0b3907367c.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>