<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Lordsforerunner Medical Website</title>
</head>
<body>
    <div class="mainContainer">
        <div class="preHeader">
        
            <a href="/"><img src="/images/logo.png" alt="Lordsforerunner"></a>
        
        
            <div class="right-head">
                <div class="navlink-wrapper">
                    <div><a href="/about">About Site</a></div>
                    <div><a href="/terms-of-use">Terms of Use</a>
                    </div>
                    <div><a href="#contact">Contact</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br><br>
        <!-- <a href="/">Home</a>
         -->
        <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FLagos"
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
        <div class="templateBody-container">
        <h1>You're Welcome</h1>
        <h2>Please be informed that we are at the pilot phase of this project</h2>
        <br><br>
        <ol>
            <li>Check available time to get appointment and record or note your chosen time/duration for
                your appiontment.</li>
            <li>Please note that all other time apart from those marked "Busy" are available. You can click on them to see their
                duration</li>
        
            <li><a href="https://calendar.google.com/calendar/embed?src=lordsforerunner2020%40gmail.com&ctz=Africa%2FLagos"
                    target="_blank">Check available time here</a> </li>
            <li>It costs 500 Naira for a session of 30 minutes. You can procure multiple sessions if you wish, <b>but
                    not more than one hour at a stretch per session.</b></li>
            <li>You will need to install the <b>google duo app</b> from <a href="https://play.google.com" target="_blank">Google play store</a> or <a href="https://www.apple.com/store"target="_blank">Apple store</a> to your phone with a phone number</li>
            <li>If the google duo app is in your phone by default click on it to ensure it is set up and ready for use</li>
            <li>You require your <b>duo phone number (with country code)</b>, an <b>alternative phone number(with country code)</b>, your <b>email address</b>  and your<b> chosen date/timing</b> while making payment. </li>
        
            <li><b>Please note</b> that after payment you will be redirected to the payment success page of our website <b>where you will
            conclude this process</b></li>
            <li>Your session will then be removed from available time on the calender</li>
            <li>
        
                <a href="https://flutterwave.com/pay/lordsmedical">Make payment here</a>
        
        
            </li>
        
        
        
        
        
        
        
        </ol>
        
        
        
        </div>

    </div>

    <div class="footer" id="contact">
    
        <a href="https://web.facebook.com/lordsforerunner/" target="_blank" class="social-icon facebook"><i
                class="fab fa-facebook-f"></i></a>
    
        <a href="https://www.instagram.com/lordsforerunner/" target="_blank" class="social-icon instagram"><i
                class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lords-forerunner-3512021b8/" target="_blank" class="social-icon linkedin"><i
                class="fab fa-linkedin-in"></i></a>
        <a href="https://youtube.com/channel/UC0aUdlVuR6wQrcbwlzFq1Dw" target="_blank" class="social-icon youtube"><i
                class="fab fa-youtube"></i></a>
    
        <a href="mailto:lords@lordsforerunner.net" target="_blank"><i class="fas fa-envelope-open"></i></a>
    
        <p class="copyright">Copyright &copy; 2020 <b>Lordsforerunner.</b> All Rights Reserved.</p>
    
    </div>
    <a href="#top" class="fixed-link">Back to the Top</a>
    
    
    </div>
    <script src="https://kit.fontawesome.com/0b3907367c.js" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>