<%- include("partials/header"); -%>


 <div class="templateBody-container">

  <div class="templateBody-topBreadcrumb">
   <div class="back-to-homepage">
    <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
    <span class="pageName-span">Women Treatment Path- Othercomplaints</span>
   </div>
  </div>
  <br><br>
  <div class="templateBody-main">

   <h1>Other Complaints</h1>

   <p class="fireBrick">Click the applicable button below to proceed</p>
   <p class="fireBrick">Note => If you have only one complaint, click appropriately and <a href="#contact">scroll down</a> to move to the next page</p>


   <form action="/women_othercomplaints" method="post" id="medicalForm">

    <input type="radio" name="trying" id="no" value="no" onclick="stallBack()"><b>I have only one
     complaint</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="trying" id="yes" value="yes" onclick="symptomChecker()"><b>I have other complaints
    </b>
    <br><br>

    <h4 class="fireBrick">Breasts</h4>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="OneBreastPain" disabled/>You have <b>pain in <i>one</i>
     breast</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BothBreastPainCyclic" disabled/>You have <b>pain in
     <i>both</i>
     breasts which <i>fluctuates with menstrual cycle</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BothBreastPain" disabled/>You have <b>pain in <i>both</i>
     breasts
     which <i><u>does not</u> fluctuate with menstrual cycle</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="OneBreastSwelling" disabled/>You have <b>swelling in
     <i>one</i>
     breast</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BothBreastSwellingCyclic" disabled/>You have <b>swelling in
     <i>both</i> breasts
     which <i>fluctuates with menstrual cycle</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BothBreastSwelling" disabled/>You have <b>swelling in
     <i>both</i>
     breasts which
     <i><u>does not</u> fluctuate with menstrual cycle</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BreastRash" disabled/>You have <b>skin change or rash
     <i>only</i> on
     the breast(s)</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="OneBreastNippleDischarge" disabled/>You have <b>nipple
     discharge</b>
    from <b>one breast</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BothBreastNippleDischarge" disabled/>You have <b>nipple
     discharge</b>
    from <b>both breasts</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BloodyNippleDischarge" disabled/>You have <b>bloody nipple
     discharge</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="OneArmpitSwelling" disabled/>Swelling(s) under <b><i>one</i>
     armpit</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="BothArmpitSwelling" disabled/>Swellings under <b><i>both</i>
     armpit</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="NippleInversion" disabled/>One or both <b>nipples became
     inverted</b>
    in the last few days, weeks or months<br /><br>
    
    
    <h4 class="fireBrick">Lower Abdomen(below the navel or belly button)</h4>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="suddenLowerAbdominalPain" disabled/><b>Recent sudden</b> gripping
    <b>lower
      abdominal pain</b> with <b>no past
      experience(outside mentrual period)</b><br />
    
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="LongTermRecurrentLowerAbdominalPain" disabled/><b>Longterm
      recurrent</b>
    lower abdominal pain <u>outside menses</u><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="SevereDysmenorrhea" disabled/>You experience <u>pain during
      menses</u>
    <b>severe enough to disrupt your daily activities</b><br />
    
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="HeavyMenses" disabled/>You experience <b>heavy
     menstrual
     flow</b> as defined by menses <b><i>lasting more than seven(7) days or having to
      change your pads many times a day or passing clots during menses</i></b><br />
    
    
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="IrregularMenses" disabled/>The interval between your mentrual
    cycles
    changes widely from time to time by more than a week<b>(irregular menses)</b> <br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="Infertility" disabled/>You have made <b>unsuccessfull effort
     at
     getting pregnant</b> for over a year cohabiting with your spouse<br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="Habitual Abortion" disabled/>You have been <b>losing
     pregnancy
     repeatedly</b> before maturity<br /><br>
    
    
    <h4 class="fireBrick">External Genital</h4>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="RfrequencyFemale" disabled/><b>Recent onset(few hours or
     days)</b>
    of passing <b>small quantity of urine often</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="LfrequencyFemale" disabled/><b>Longterm onset(more than two
     weeks)</b>
    of passing <b>small quantity of urine often</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="DysuriaFemale" disabled/>You have <b>pain while
     urinating</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="RvaginalItching" disabled/><b>Recent onset(few hours or days)
     of
     <i>vaginal itching</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="LvaginalItching" disabled/><b>Longterm onset(more than two
     weeks) of
     <i>vaginal itching</i></b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="RvaginalDischarge" disabled/><b>Recent onset(few hours or
     days)</b>
    of change in the <b>colour</b> , <b>odour</b> or <b>quantity</b> of your <b>vaginal discharge or
     secretions</b>
    <br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="LvaginalDischarge" disabled/><b>Longterm onset(more than two
     weeks)</b> of change in the <b>colour</b> , <b>odour</b> or <b>quantity</b> of your
    <b>vaginal discharge or secretions</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="PainfulCoitus" disabled/>You have <b>pain during
     coitus</b><br>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="abnVagBleeding" disabled/>You experience <b>abnormal vaginal
     bleeding</b><br><br>
    
    <h4 class="fireBrick">General</h4>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="RgenBodyPains" disabled/> <b>Recent</b> onset(few hours to days) of
    general
    <b>body pains</b><br>
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="CgenBodyPains" disabled/> <b>Longterm</b> onset(more than two
    weeks) of
    general <b>body pains</b><br>

    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="RlowFever" disabled /><b>Low grade</b>
    fever (less than 39<sup>0</sup>C or 102<sup>0</sup>F ) in the last
    <b>few hours or days</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="PlowFever" disabled /><b>Low grade</b>
    fever (less than 39<sup>0</sup>C or 102<sup>0</sup>F ) persisting for
    <b>more than one week</b><br />
    <input type="checkbox" name="othersymptoms" value="RhighFeverOnOff" id="othersymptoms" disabled /><b>Presence of
      moderate to
      high <i>fever</i></b>
    (more than 39<sup>0</sup>C
    or 102<sup>0</sup>F ) </b><br />

    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="RgenBodyWeakness" disabled /><b>Recent onset(few
      hours to
      days)</b> of <b> general body weakness</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="CgenBodyWeakness" disabled /><b>Longterm(over two
      weeks)</b> of
    <b> general body weakness</b><br />
    <input type="checkbox" name="othersymptoms" id="othersymptoms" value="LegAnkleSwelling" disabled /><b>Swelling</b> of
    the <b>ankles/legs </b><br />


    <br><br><br>
    <h3 class="fireBrick" id="eureka"></h3><br>
    <input type="checkbox" name="checker" id="checker" onclick="detective()" required><b style="color: firebrick;">click when done</b>
    <br><br>

    <br><br>
    <button type="submit" class="next-btn" name="submit" id="submitbtn" disabled>Next</button>
    <br><br>
    <button type="reset" onClick="window.location.reload();">Reset</button>

   </form>

    <script>
     document.getElementById('eureka').innerHTML = "";

     var gotIt = document.getElementsByName("othersymptoms");
     var yes = document.getElementById("yes");
     var no = document.getElementById("no");

     function detective() {
       var myReka = [];
      if (no.checked) {
       document.getElementById("submitbtn").removeAttribute("disabled");

      } else {
       for (i = 0; i < othersymptoms.length; i++) {
        myReka.push("one");
        if (othersymptoms[i].checked) {
         document.getElementById("submitbtn").removeAttribute("disabled");

        }
        if (othersymptoms.length === myReka.length && document.getElementById("submitbtn").disabled) {
         document.getElementById('eureka').innerHTML = "Please check your other complaint(s); if not found, contact us (stating your age, gender and complaints) for possible future accommodation and any other action deemed necessary. Thank you";
         document.getElementById("checker").checked = false
        }
       }
      }


     }




     function symptomChecker() {
      for (c = 0; c < gotIt.length; c++) {
       if (gotIt[c].value !== "<%= Mainsymptom  %>" && yes.checked) {
        gotIt[c].removeAttribute("disabled");
       }
      }
     }

     function stallBack() {
      for (c = 0; c < gotIt.length; c++) {
       gotIt[c].disabled = true;
      }
     }

    </script>
   

  </div>
 </div>


 <%- include("partials/footer"); -%>